# Learn about membership in the OpenTelemetry community:
# https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners

* @open-telemetry/shared-workflows-approvers

# Unlike typical shared workflows, the pull request dashboard workflow runs entirely
# in this repository.
.github/scripts/pull-request-dashboard/** @open-telemetry/shared-workflows-approvers @trask
.github/workflows/pull-request-dashboard.yml @open-telemetry/shared-workflows-approvers @trask
.github/workflows/pull-request-dashboard-repo.yml @open-telemetry/shared-workflows-approvers @trask
.github/workflows/pull-request-dashboard-deploy-webhook.yml @open-telemetry/shared-workflows-approvers @trask
