# Learn about membership in the OpenTelemetry community:
# https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners

* @open-telemetry/shared-workflows-approvers

# Pull request dashboard
pull-request-dashboard/** @open-telemetry/shared-workflows-approvers @trask
.github/scripts/pull-request-dashboard/** @open-telemetry/shared-workflows-approvers @trask
.github/workflows/pull-request-dashboard.yml @open-telemetry/shared-workflows-approvers @trask
.github/workflows/pull-request-dashboard-repo.yml @open-telemetry/shared-workflows-approvers @trask
.github/workflows/pull-request-dashboard-deploy-webhook.yml @open-telemetry/shared-workflows-approvers @trask

# Workflow failure issue
workflow-failure-issue/** @open-telemetry/shared-workflows-approvers @trask
.github/workflows/workflow-failure-issue.yml @open-telemetry/shared-workflows-approvers @trask
